

  * {
    box-sizing: border-box;
  }
  main{
    margin-left: 50px;
    width: 100%;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
    width: 100%;
  }
  
   .side-nav{
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 10;
    z-index: 100;
    color : red;
  }
  
  
  
  header {
    padding: 12% 0;
    text-align 100;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  


@media (max-width : 600px){

  * {
    box-sizing: border-box;
  }
  main{
    margin-left: 0;;
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  .side-nav {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color : black;
  }
  
  
  
  header {
    padding: 12% 0;
    text-align: center;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
}